.header {
  position: fixed;
  width: 0;
  bottom: 0;
  top: 0;
  text-align: right;

  .table{
    display: table;
    width: 100%;
    height: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    .table-cell{
      display: table-cell;
      vertical-align: middle;
      .logo{
        font-size: 40px;
        color: #000;
        text-transform: uppercase;
        padding-bottom: 60px;
        letter-spacing: 2px;
        line-height: 40px;
        a{
          color: inherit;
        }
      }

      .main-menu{
        font-family: 'Roboto', serif;
        letter-spacing: 1px;
        font-size: 18px;
        line-height: 24px;
        li{
          position: relative;
          &:hover > .sub-menu{
              opacity: 1;
              visibility: visible;
          }
        }
        .active a{
          color: #000;
        }
        a:hover{
          color: #000;
        }
        .menu-list {
          li {
            padding-top: 3px;
            padding-bottom: 3px;
            display: block;
          }
        }
        .sub-menu{
          position: absolute;
          width: 200px;
          top: 0;
          left: 100%;
          font-size: 14px;
          text-align: left;
          visibility: hidden;
          padding-left: 20px;
          opacity: 0;

          li{
            padding-left: 20px;
            padding-right: 20px;
            background-color: #efefef;
            &:first-child{
              padding-top: 10px;
            }
          }

          a{
            color: #000;
          }
        }

      }

      .socials {
        padding-top: 50px;
        a:hover{
          color: #000;
          &.i-vk{
            color: #4680C2;
          }
          &.i-twitter{
            color: #38A1F3;
          }
          &.i-instagram{
            color: #C13584;
          }
          &.i-dribble{
            color: #ea4c89;
          }

        }



        a:not(:last-child){
          margin-right: 8px;
        }

      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .header{
    position: relative;
    width: auto;
    padding-bottom: 40px;
    .table{
      .table-cell{
        .main-menu{
          .sub-menu {
            display: block;
            position: relative;
            font-size: 14px;
            text-align: left;
            padding-left: 20px;
            visibility: visible;
            left: 0;
            opacity: 1;
            width: auto;
            li {
              margin: 0;
              padding: 0;
              background-color: #fff;
              text-align: right;
              a{

              }
            }
          }
        }
      }
    }

  }
}